
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

body {
	background-color: #fff;
  /* background-color: #efefff; */
  /* padding: 1%; */
 /*  font-size: 12px;
  line-height: 1.6;
  background-image: url('pexels-photo-373076.jpeg');
  background-size: 100%; */
  /* background-color:  */
  /* background-image: -webkit-gradient(linear, left top, left bottom, from('white'), to('black'));
  background-image: -webkit-linear-gradient(top, 'white', 'black');
  background-image: -moz-linear-gradient(top, 'white', 'black');
  background-image: linear-gradient(to bottom, 'white', 'black'); */
  /* background: linear-gradient(to bottom, #fff, #000); */

  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  /* font-family: "Raleway", sans-serif; */
}

/* .sub-body {
  margin: auto;
  width: 75%;
} */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.infopanel {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0 18px;
  height: 50%;
  background-color: #ddd;
  display: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display:block;
}

.img-thumbnail1 {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 400px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.img-thumbnail1:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* z-index: 1; Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  /* overflow: hidden; */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
@media (min-width: 992px) {
  .modal1-lg {
    width: 900px;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.modal1-dialog {
  position: relative;
  width: auto;
  margin: 5px;
}
.modal1.fade .modal1-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal1-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}


section#head{
	padding-top:10%;
}


/****  new css ****/
html {
    height: 100%;
}
body {
    height: 100%;
}
.container-fluid {
    height: 100%;
}

.cont {
    background-attachment: fixed;
}

.cont {
    min-height: 100%;
    /* background-color: #5cb85c; */
    /* background-image: url(pexels-photo-373076.jpeg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover; */
	background:linear-gradient(to right, #07192f, #9e7585, #07192f) !important;
	/* padding-bottom:40px; */
}
.jumbotron {
    padding: 3rem 1rem !important;
}	
.main-title {
    text-align: center;
    font-size: 45px;
    /* font-size: 4vw; */
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF !important;
}
.sub-title {
    font-weight: normal;
    font-size: 26px;
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}
.main-form {
    margin-top: 20px;
}
div.countries div.checkbox1{
	min-width:40px;
	width:auto;
	float:left;
	margin-left:5px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 20%;
  vertical-align: middle;
  margin-right: -4px;
}
.img-thumbnail{
	max-width:90%;
}

.search_c{
	padding-top:10px;
	/* background-color: #5cb85c; */	
	background-color: rgba(255,255,255,1);	
}

.input-xs {
    height: 15px;
    padding: 5px 10px;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 3px;
}
.jumbotron p {
    margin-bottom: 0px;
    font-size: 9px;
    font-weight: 100;
    text-align: right;
}
label {
    font-weight: 100;
}

/*
.result_table, .result_table table tbody tr{
	background-color:#fff !important;
}

.result_table table tbody tr td {
    border-right: solid 1px rgba(0,0,0,0.3) !important;
    border-top: solid 1px rgba(0,0,0,0.3) !important;
}
.result_table table thead tr,.result_table table tbody tr , .result_table table thead th{
    border-bottom: solid 1px rgba(0,0,0,0.3) !important;
}

.result_table table td, .result_table table th{
	padding: 3px;
    vertical-align: top;
	background-color:#fff !important;
    max-width: 350px;
    word-wrap: break-word;
    
}
.result_table table td{
	padding: 6px !important;
}
.result_table .table td,.result_table .table th:not(.line-numbers) {
	padding: 6px !important;
	min-width: 95px;
}

.result_table .table th.line-numbers,.result_table .table.condensed th.line-numbers{
	width: 30px !important;
}

.result_table table th{
	border-right: solid 1px rgba(0,0,0,0.3) !important;
}
.result_table table th span{
	text-transform: capitalize;
    font-size: 12px;
	color: #aaa;
}

.result_table .table-footer, .result_table table thead tr{
	border-bottom: solid 1px #e2c264 !important;
	background-color: #fff !important;
	border:0 !important;
	color: #aaa;
    text-align: center;
    padding: 5px !important;
    text-transform: initial;
    font-weight: bold;
    vertical-align: middle;
}
.table input[type="text"], .table select{
    height: 22px !important;
    padding: 5px 10px !important;
    font-size: 9px !important;
    line-height: 1.5 !important;
    border-radius: 0px !important;
}
*/

html{
	height: 100%;
    background: #07192f;
}

.result_table{
	border: 1px solid rgba(255,255,255,0.3);
}
.filter {
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute !important;
    left: 20px;
    top: 6px;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(255,255,255,0.3);
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}
.global-search{
	margin-left: 30px;
}
.magnifying-glass{
	width: 18px !important;
    height: 18px !important;
	border: 2px solid #fff !important;
}
.global-search-input {
    height: 30px !important;
}	

.result_table table thead,.result_table .table-footer{
	background-color: rgba(255,255,255,0.3) !important;
}
.result_table .responsive{
	background:linear-gradient(to right, #07192f, #07192f) !important;
}


.result_table .table-footer{
    border: 0 !important;
    padding: 5px 10px !important;
    text-align: left;
    font-weight: 500;
    font-size: 12px !important;
    color: #fff !important;
    text-transform: uppercase;
}
.result_table td a,.pagination-controls a, .pagination-controls .info, .table-footer select{
	color: #fff !important;
	text-decoration:none;
}	
.result_table a.page_name{
	color: #fff !important;
	text-decoration:underline;
}


.result_table th{
    padding: 5px 8px !important;
    text-align: center !important;
    font-weight: 200;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    border: 0 !important;
}

.result_table td{
	padding: 5px 10px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-top: 0 !important;
    border-bottom: solid 1px rgba(255,255,255,0.1) !important;
}

.result_table th, .result_table td{
	min-width:95px;
	max-width:350px;
	word-wrap: break-word;
}	

/* .panel-success {
    border-color: rgba(0,0,0,0.6);
} */
#search-btn{
	transition: all .25s ease-in;
	background-color:#cf3722;
	color:#fff;
	border:0;
}
#search-btn:hover{
	background-color:#248139;
	color:#fff;
	border:0;
}
.filter .dropdown-menu{
	width: 280px;
}
.search_c{
	position: relative;
	min-height:50%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;  
}

.sidenav_close {
	margin-top:4px;
	cursor:pointer;
	z-index:99;
	color: rgba(255,255,255,0.3);
}	

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}